# Node rules:
## Grunt intermediate storage (http://gruntjs.com/creating-plugins#storing-task-files)
.grunt

## Dependency directory
## Commenting this out is preferred by some people, see
## https://docs.npmjs.com/misc/faq#should-i-check-my-node_modules-folder-into-git
node_modules

# Book build output
_book

# eBook build output
*.epub
*.mobi
*.pdf
/CoffeeManagement/.vs
/CoffeeManagement/Coffee.EntityFramworkCore/obj
/CoffeeManagement/Coffee.EntityFramworkCore/bin
/CoffeeManagement/Coffee.Repository/obj
/CoffeeManagement/Coffee.Repository/bin
/CoffeeManagement/Coffee.Service/obj
/CoffeeManagement/Coffee.Service/bin
/CoffeeManagement/Coffee.WebApi/bin
/CoffeeManagement/Coffee.WebApi/obj
